{% extends 'base.html.twig' %}

{% block title %}Edit MotCles{% endblock %}

{% block body %}
    <h1>Edit MotCles</h1>

    {{ include('mot_cles/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('mot_cles_index') }}">back to list</a>

    {{ include('mot_cles/_delete_form.html.twig') }}
{% endblock %}
