{% extends 'base.html.twig' %}

{% block title %}New MotCles{% endblock %}

{% block body %}
    <h1>Create new MotCles</h1>

    {{ include('mot_cles/_form.html.twig') }}

    <a href="{{ path('mot_cles_index') }}">back to list</a>
{% endblock %}
